<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpenseTracker</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTracker.styles.css" asp-append-version="true" />
</head>

<body>

    <div class="d-flex">

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="sidebar-header">
                <h3>Expense Tracker</h3>
            </div>

            <ul class="nav flex-column mt-4">

                <li class="nav-item mb-2">
                    <a class="nav-link"
                       asp-controller="Dashboard"
                       asp-action="Index">
                        📊 Dashboard
                    </a>
                </li>

                <li class="nav-item mb-2">
                    <a class="nav-link"
                       asp-controller="Expense"
                       asp-action="Index">
                        ➕ Add Expense
                    </a>
                </li>

                <li class="nav-item mb-2">
                    <a class="nav-link"
                       asp-controller="Expense"
                       asp-action="List">
                        📋 View Expenses
                    </a>
                </li>

                <li class="nav-item mb-2">
                    <a class="nav-link"
                       asp-controller="Report"
                       asp-action="CategoryReport">
                        📈 Reports
                    </a>
                </li>

                <li class="nav-item mb-2">
                    <a class="nav-link"
                       asp-controller="Profile"
                       asp-action="Index">
                        👤 Profile
                    </a>
                </li>

            </ul>

            <div class="sidebar-footer">

                <div class="user-avatar">
                    SB
                </div>

                <span>Sushmitha</span>

            </div>

        </div>

        <!-- Main Content -->
        <div class="content">

            <div class="container-fluid p-4">

                @RenderBody()

            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>