@model ExpenseTracker.Models.ViewModels.LoginViewModel

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<form asp-action="Login" method="post">

    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <br />

    <div>
        <label>Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <br />

    <button type="submit">Login</button>

</form>