@model ExpenseTracker.Models.ViewModels.DashboardViewModel

<div class="dashboard-container">

    <div class="dashboard-header">

        <div>
            <h1>Welcome Back 👋</h1>
            <p>Track your expenses efficiently</p>
        </div>

        <div>
            <h5>@DateTime.Now.ToString("ddd, dd MMM yyyy")</h5>
        </div>

    </div>

    <div class="row mt-4">

        <div class="col-md-3">

            <div class="stat-card">

                <h5>Total Expense</h5>

                <h2>₹@Model.TotalExpense</h2>

                <span>All Time</span>

            </div>

        </div>

        <div class="col-md-3">

            <div class="stat-card">

                <h5>Transactions</h5>

                <h2>@Model.TotalTransactions</h2>

                <span>All Time</span>

            </div>

        </div>

        <div class="col-md-3">

            <div class="stat-card">

                <h5>This Month</h5>

                <h2>₹@Model.MonthlyExpense</h2>

                <span>@DateTime.Now.ToString("MMMM yyyy")</span>

            </div>

        </div>

        <div class="col-md-3">

            <div class="stat-card">

                <h5>Top Category</h5>

                <h2>@Model.TopCategory</h2>

                <span>Highest Spend</span>

            </div>

        </div>

    </div>

    <div class="row mt-4">

        <div class="col-md-6">

            <div class="dashboard-box">

                <h4>Quick Actions</h4>

                <hr />

                <a href="/Expense" class="btn btn-primary">
                    Add Expense
                </a>

                <a href="/Expense/List"
                   class="btn btn-success">
                    View Expenses
                </a>

            </div>

        </div>

        <div class="col-md-6">

            <div class="dashboard-box">

                <h4>Reports</h4>

                <hr />

                <a href="/Report/CategoryReport"
                   class="btn btn-warning">
                    Category Report
                </a>

            </div>

        </div>

    </div>

</div>