<h1>Expense Tracker Dashboard</h1>

<hr />

<div>
    <h3>Total Users: @ViewBag.TotalUsers</h3>
</div>

<div>
    <h3>Total Expenses: @ViewBag.TotalExpenses</h3>
</div>

<div>
    <h3>Total Categories: @ViewBag.TotalCategories</h3>
</div>

<div>
    <h3>Total Amount Spent: ₹@ViewBag.TotalAmount</h3>
</div>

<hr />

<a href="/Expense">Add Expense</a>

<br />
<br />

<a href="/Expense/List">View Expenses</a>
<br />
<br />

<a href="/Report/CategoryReport">
    Category Report
</a>